.git
.minecraft/XaeroWaypoints
.minecraft/XaeroWaypoints_BACKUP032021
.minecraft/crash-reports
.minecraft/dashloader-cache
.minecraft/logs
.minecraft/saves
.minecraft/screenshots
.minecraft/servers.dat_old
.minecraft/usercache.json

.minecraft/Distant_Horizons_server_data/
